/Java/EstructuraDatos/build/
/Java/estructuraslineales-main/nbproject/private/
/Java/estructuraslineales-main/build/
/Java/T4ArbolesJCLC/nbproject/private/
/Java/T4ArbolesJCLC/build/
/Java/TrabajosEscuela/T4ArbolesJCLC/nbproject/private/
/Java/TrabajosEscuela/T4ArbolesJCLC/build/
